
@{
    ViewBag.Title = "AdminSayfasi";
    Layout = "~/Areas/admin/Views/Shared/AdminLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<body data-post="http://www.egrappler.com/responsive-bootstrap-admin-template-edmin/">
 

    <div class="wrapper">
        <div class="container">
            <div class="span3">
                Merhaba, hoş geldiniz.
            </div>
        </div>
    </div>

    <script src="/AdminSayfaTema/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/AdminSayfaTema/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    <script src="/AdminSayfaTema/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/AdminSayfaTema/scripts/flot/jquery.flot.js" type="text/javascript"></script>
    <script src="/AdminSayfaTema/scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
    <script src="/AdminSayfaTema/scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>
    <script src="/AdminSayfaTema/scripts/common.js" type="text/javascript"></script>
    @*<script type="text/javascript" src="../wp-content/themes/piha/js/top-bar.js"></script>
        <script type="text/javascript" src="../wp-content/themes/piha/js/bsa-ads.js"></script>
        <?php include("http://www.egrappler.com/analytics.php");?>*@
</body>
</html>